<div class="modal-header">
  <h4 class="modal-title">Add new credentials</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross clicked')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form>
    <div class="form-group row">
      <div class="col-12">
        <input class="form-control" placeholder="Name of the new credentials" [(ngModel)]="securityNote.name"
               name="securityNoteName" />
      </div>
    </div>

    <hr />

    <div *ngIf="securityNote">
      <div class="form-group row" *ngFor="let field of securityNote.fields;let i = index;">
        <div class="col-md-5 col-12">
          <input class="form-control" value="{{field.name}}" [(ngModel)]="field.name" name="key_{{i}}" placeholder="Key" />
        </div>
        <div class="col-md-5 col-8">
          <input type="{{field.fieldType}}" class="form-control" [(ngModel)]="field.value" name="value_{{i}}" placeholder="Value" />
        </div>
        <div class="col-md-1 col-2 align-self-center">
          <input type="checkbox" class="form-control" [checked]="field.fieldType === 'password'" (change)="changeFieldType(i, $event.target.checked)"/>
        </div>
        <a class="col-md-1 col-2 align-self-center">
          <span class="fa fa-remove"></span>
        </a>
      </div>
    </div>

    <hr />

    <div class="form-group row row-add-field">
      <div class="col-md-4 col-12">
        <input class="form-control" placeholder="Key" #newFieldKey />
      </div>
      <div class="col-md-5 col-10">
        <input class="form-control" placeholder="Value" #newFieldValue />
      </div>
      <div class="col-md-1 col-2 align-self-center">
        <input type="checkbox" class="form-control" />
      </div>
      <div class="col-12">
        <button class="btn btn-primary"
                (click)="addFieldToNote(newFieldKey, newFieldValue)">Add</button>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="createSecurityNote()">Add</button>
</div>
