<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Owner</th>
    <th></th>
    <th> </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let group of groups | async">
    <!--Groupname-->
    <th scope="row" *ngIf="group._id === editGroupId">
      <input type="text" (keyup.enter)="edit(null); update(group); $event.stopPropagation()" class="form-control" [(ngModel)]="group.name" />
    </th>
    <th scope="row" *ngIf="group._id !== editGroupId" (click)="edit(group)">
      {{group.name}}
    </th>
    <!--Email-->
    <td *ngIf="group._id === editGroupId">
      <input type="text" (keyup.enter)="edit(null); update(group); $event.stopPropagation()" class="form-control" [(ngModel)]="group.owner" />
    </td>
    <td *ngIf="group._id !== editGroupId" (click)="edit(group)">
      {{group.owner}}
    </td>
    <!--Save/Edit-->
    <td>
      <button type="button" class="btn btn-primary" *ngIf="group._id === editGroupId"
              (click)="edit(null); update(group); $event.stopPropagation()">Save</button>
      <button type="button" class="btn btn-primary" *ngIf="group._id !== editGroupId"
              (click)="edit(group); $event.stopPropagation()">Edit</button>
    </td>
    <!--Delete-->
    <td>
      <button type="button" class="btn btn-primary"
              (click)="remove(group); $event.stopPropagation()">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
