<div class="container">
  <div class="row col-md-10">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="first">Name</th>
        <th class="first">Owner</th>
        <th class="second"> </th>
        <th class="second"> </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let group of groups | async">
        <!--Groupname-->
        <th scope="row" *ngIf="group._id === editGroupId">
          <input type="text" (keyup.enter)="edit(null); update(group); $event.stopPropagation()" class="form-control" [(ngModel)]="group.name" />
        </th>
        <th scope="row" *ngIf="group._id !== editGroupId" (click)="edit(group)">
          {{group.name}}
        </th>
        <!--Email-->
        <td *ngIf="group._id === editGroupId">
          <input type="text" (keyup.enter)="edit(null); update(group); $event.stopPropagation()" class="form-control" [(ngModel)]="group.owner" />
        </td>
        <td *ngIf="group._id !== editGroupId" (click)="edit(group)">
          {{group.owner}}
        </td>
        <!--Save/Edit-->
        <td>
          <div class="span5">
          <button type="button" class="btn btn-primary custom" *ngIf="group._id === editGroupId"
                  (click)="edit(null); update(group); $event.stopPropagation()">Save</button>
          <button type="button" class="btn btn-primary custom" *ngIf="group._id !== editGroupId"
                  (click)="edit(group); $event.stopPropagation()">Edit</button>
          </div>
        </td>
        <!--Delete-->
        <td>
          <button type="button" class="btn btn-primary btn-block custom"
                  (click)="remove(group); $event.stopPropagation()">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
