<div class="row">
  <div class="col-9 offset-1">
    <div class="row">
      <div class="col-4" *ngFor="let credential of credentials">
        <pm-content-box [header]="credential.name" (removeClick)="removeCredential(credential);">
          <div class="security-note-field" *ngFor="let field of credential.fields">
            <small>{{field.name}}</small>
            <div *ngIf="field.fieldType !== 'password'">{{field.value}}</div>
            <div class="password-field" *ngIf="field.fieldType === 'password'" ngxClipboard [cbContent]="field.value">Copy to clipboard</div>
          </div>
        </pm-content-box>
      </div>
    </div>
  </div>
</div>
